.btn-green {
  background-color: $primary-color;
  border-color: $primary-color-dark;
}

.footer {
  margin-top: 5vh;
  background-color: $primary-color-dark;
  color: $primary-color-text;
  padding: 5vh 0;
}

.container-top {
  margin-top: $navbar-height;
}

.anchor {
  position: relative;
  width: 0px;
  height: 0px;
  margin-top: -$navbar-height;
  display: block;
}