.about-content {
  > .row {
    > div {
      margin-bottom: 5vh;
    }
    > .col-xs-12 {
      > p {
        //font-size: large;
      }
    }
  }
}

.about-crest {
  margin:auto;
  max-width: 256px;
  max-height: 256px;
  margin-bottom: 1vh;
}